<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dzpgbbhmm/image/upload/v1613996787/Mr%20Cocktail/Mr_Banner_h0fiwl.jpg);">  
  <div class="container">
    <div class="header">
      <h1>CAPANGA</h1>
      <p>Explore a selection of our finest Cocktails and create your own</p>
    </div>
    <div  class="btn btn-outline"> <%= link_to 'CREATE A COCKTAIL', new_cocktail_path %> </div>
  </div>
</div>

  <div class="cocktails">
    <% @cocktails.each do |cocktail|%>
      <div class="cocktail-card">
        <% if cocktail.photo.attached?  %>
          <%= cl_image_tag(cocktail.photo.key, class: "cocktail-image") %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="cocktail-image" alt="...">
        <% end %>
        <div class="cocktail-card-text">
          <h3 class="cocktail-title"><%= link_to cocktail.name.upcase, cocktail_path(cocktail) %></h3>
          <% cocktail.doses.each do |dose| %>
            <p class="cocktail-description">🍹 <%= dose.ingredient.name %>: <%= dose.description %><p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
