<div class="container-new" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzpgbbhmm/image/upload/v1613935196/Mr%20Cocktail/background_new_bf1dya.jpg);">
  <div class="header-new"><h1>CREATE YOUR COCKTAIL</h1></div>

  <div class="new-form">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "SHAKEN, NOT STIRRED", class: "btn-submit" %>
    <% end %>
  </div>
<div class="new-menu"><%= link_to "<< Back to cocktails", "/cocktails" %></div>
</div>
